<section class="section-80 section-md-110 bg-gray-light">
  <div class="shell shell-wide">
    <h2>Our Gallery</h2>
    <hr class="divider divider-60 divider-primary offset-top-32">
    <!-- Owl Carousel-->
    <div data-photo-swipe-gallery="gallery" data-dots="true" data-items="1" data-sm-items="2" data-lg-items="3" data-margin="30" class="owl-carousel offset-top-60">

      <% used = Hash.new %>
      <% dir = Dir.foreach(File.join('/', 'public', 'album', 'images')) %>
      <% 6.times do |count| %>

        <% acceptable = false %>

        <% while !acceptable %>
          <% item = dir.entries.fetch(Random.rand(0..dir.count)) %>
          <% if item != '.' and item != '..' and item != '.DS_Store' and !used.has_value?(item) %>
            <% acceptable = true %>
            <% used.store(count, item) %>
          <% end %>
        <% end %>


        <div>
          <!-- PhotoSwipe image-->
          <a data-photo-swipe-item="" data-size="684x504" href="/album/images/<%= item %>" class="thumbnail-variant-1"><img src="/album/images/<%= item %>" width="570" height="420" alt="" class="img-responsive center-block">
            <div class="caption">
              <div class="caption-inner"><span class="icon fa-search-plus"></span></div>
            </div>
          </a>

          <% acceptable = false %>

          <% while !acceptable %>
            <% item = dir.entries.fetch(Random.rand(0..dir.count)) %>
            <% if item != '.' and item != '..' and item != '.DS_Store' and !used.has_value?(item) %>
              <% acceptable = true %>
              <% used.store(count, item) %>
            <% end %>
          <% end %>


          <a data-photo-swipe-item="" data-size="684x504" href="/album/images/<%= item %>" class="thumbnail-variant-1"><img src="/album/images/<%= item %>" width="570" height="420" alt="" class="img-responsive center-block">
            <div class="caption">
              <div class="caption-inner"><span class="icon fa-search-plus"></span></div>
            </div>
          </a>
        </div>


      <% end %>
      <div class="offset-top-32 offset-md-top-60">
        <a href="<%= gallery_path %>" class="btn btn-primary-dr btn-sm">
          view all Gallery
        </a>
      </div>
    </div>
  </div>
</section>