<main class="page-content">
  <!-- RD Parallax-->
  <section class="rd-parallax">
    <div data-speed="0.2" data-type="media" data-url="images/breadcrumbs-01.jpg" class="rd-parallax-layer"></div>
    <div data-speed="0" data-type="html" class="rd-parallax-layer">
      <div class="breadcrumb-wrapper">
        <div class="shell context-dark section-40 section-lg-top-158">
          <h1>Memorial Golf Tournament</h1>
          <ol class="breadcrumb">
            <li><a href="<%= root_path %>">Home</a></li>
            <li>Tournament
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="section-80 section-md-110">
    <div class="range range-xs-center">
      <div class="cell-lg-6 cell-md-8">
        <h2>The Memorial Golf Tournament</h2>
        <hr class="divider divider-60 divider-primary offset-top-32">
        <p class="offset-top-52">
          A memorial golf tournament is held every year in his honor. This year's tournament will be held <%= ApplicationHelper.tournament_date %> at the <%= ApplicationHelper.tournament_venue %>. This tournament has raised over $50,000 for the Make-A-Wish Foundation of Connecticut. We hope that you will support us this year and help make a difference in the lives of children the Make-A-Wish Foundation helps</p>
        <img src="<%= image_path 'logobig.png' %>" alt="" class="img-responsive center-block"/>
      </div>
    </div>
    <div class="range">
      <div class="cell-md-4 cell-sm-6">
        <div class="box-variant-1"><span class="material-design-map103 icon text-primary icon-xl"></span>
          <h6>Address</h6>
          <hr class="divider divider-gray divider-50">
          <a href="#" class="text-base"><%= ApplicationHelper.tournament_venue %>
            <br class="veil reveal-lg-block"><%= ApplicationHelper.tournament_venue_address(true) %>
            USA</a>
        </div>
      </div>
      <div class="cell-md-4 cell-sm-6 offset-top-22 offset-md-top-0">
        <div class="box-variant-1">
          <img src="images/icon-04.png" alt="">
          <h6 class="offset-top-22">Register To Play</h6>
          <hr class="divider divider-gray divider-50">
          <a href="<%= new_user_registration_path %>">Sign Up Here</a>
        </div>
      </div>
      <div class="cell-md-4 cell-sm-6 offset-top-22 offset-md-top-0">
        <div class="box-variant-1">
          <img src="images/icon-03.png" alt="">
          <h6 class="offset-top-22">2018 Brochure</h6>
          <hr class="divider divider-gray divider-50">
          <a href="./brochure18.pdf">Download This Year's Brochure</a>
        </div>
      </div>
    </div>
  </section>
</main>
