<main class="page-content">

  <div class="container-fluid right text-xl-center">

    <h2>Admin</h2>
    <hr class="divider divider-30 divider-primary">
    <h4>Groups</h4>

    <div style="padding: 0px 40px 0px 40px" class="container-fluid">

      <!-- Groups -->
      <section>
        <div class="row">
          <% @users.each do |group| %>
            <% unless group.golfer2_email.nil? %>
              <div class="col-xs-12 col-md-3 section-top-30">
                <span style="border-bottom:1px solid #a4a18f;background-color:#dff0d8" class="center-block">
                  <h5><strong><%= group.first_name %> <%= group.last_name %> <%= group.email %>
                    (<%= User.golfer_status(group.email) %>)</strong></h5>
                </span>

                <% unless group.golfer2_email.nil? %>
                  <% user_status = User.golfer_status(group.golfer2_email) %>
                  <% if user_status == 'Un-Registered' %>
                    <div style="background-color:#fcf8e3" class="center-block">
                  <% elsif user_status == 'Incomplete' %>
                    <div style="background-color:#fcf8e3" class="center-block">
                  <% else %>
                    <div style="background-color:#dff0d8" class="center-block bg-gray-light">
                  <% end %>
                  <%= group.golfer2_name %>
                  <%= group.golfer2_email %>
                  (<%= User.golfer_status(group.golfer2_email) %>)
                  </div>
                <% end %>

                <% unless group.golfer3_email.nil? %>
                  <% user_status = User.golfer_status(group.golfer3_email) %>
                  <% if user_status == 'Un-Registered' %>
                    <div style="background-color:#fcf8e3" class="center-block">
                  <% elsif user_status == 'Incomplete' %>
                    <section style="background-color:#fcf8e3" class="center-block">
                  <% else %>
                    <div style="background-color:#dff0d8" class="center-block bg-gray-light">
                  <% end %>
                  <%= group.golfer3_name %>
                  <%= group.golfer3_email %>
                  (<%= User.golfer_status(group.golfer3_email) %>)
                  </div>
                <% end %>

                <% unless group.golfer4_email.nil? %>
                  <% user_status = User.golfer_status(group.golfer4_email) %>
                  <% if user_status == 'Un-Registered' %>
                    <div style="background-color:#fcf8e3" class="center-block">
                  <% elsif user_status == 'Incomplete' %>
                    <div style="background-color:#fcf8e3" class="center-block">
                  <% else %>
                    <div class="center-block bg-gray-light">
                  <% end %>
                  <%= group.golfer4_name %>
                  <%= group.golfer4_email %>
                  (<%= User.golfer_status(group.golfer4_email) %>)
                  </div>
                <% end %>

                </div>
            <% end %>
          <% end %>
          </div>
        </section>

          <section class="section-40">
            <h4>Admins</h4>
            <div class="offset-top-32">
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                      <th class="success">Name</th>
                      <th class="success">Email</th>
                      <th class="success">Phone</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @admins.each do |admin| %>
                      <tr>
                        <td><%= admin.first_name %> <%= admin.last_name %></td>
                        <td><%= admin.email %></td>
                        <td>
                          <% unless admin.phone.nil? %>
                            <%= admin.phone %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </section>

          <!-- Registered Users -->
          <section class="section-xs-30 section-md-60">
            <h4>Registered Users</h4>
            <div class="offset-top-32">
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                      <th class="success">Name</th>
                      <th class="success">Email</th>
                      <th class="success">Phone</th>
                      <th class="success">Golfer-Package</th>
                      <th class="success">Info</th>
                      <th class="success">Group</th>
                      <th class="success"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if @users.count > 0 %>
                      <% @users.each do |user| %>
                        <tr>
                          <td>
                            <% unless user.first_name.nil? %>
                              <%= user.first_name %>
                            <% end %>
                            <% unless user.first_name.nil? %>
                              <%= user.last_name %>
                            <% end %>
                          </td>
                          <td>
                            <%= user.email %>
                          </td>
                          <td>
                            <% unless user.phone.nil? %>
                              <%= user.phone %><br>
                            <% end %>
                          </td>
                          <td>
                            <% if user.admin? == true %>
                              <strong>Admin</strong>
                            <% elsif user.purchased_golf_package? %>
                              Purchased
                            <% else %>
                              Un-Purchased
                            <% end %>
                          </td>
                          <td>
                            <% if 1 == 1 %>
                              <div>
                                <% unless user.company_name.nil? %>
                                  <%= user.company_name %><br>
                                <% end %>
                                <% unless user.company_website.nil? %>
                                  <%= user.company_website %><br>
                                <% end %>

                                <% unless user.note.nil? %>
                                  <strong>Note: </strong> <%= user.note %><br>
                                <% end %>
                              </div>
                            <% end %>
                          </td>
                          <td>
                            <div>
                              <% unless user.golfer2_name.nil? %>
                                <%= user.golfer2_name %><br>
                              <% end %>
                              <% unless user.golfer3_name.nil? %>
                                <%= user.golfer3_name %><br>
                              <% end %>
                              <% unless user.golfer4_name.nil? %>
                                <%= user.golfer4_name %><br>
                              <% end %>
                            </div>
                          </td>
                          <td>
                            <!-- Actions -->
                          </td>
                        </tr>
                      <% end %>
                    <% else %>
                      <tr>
                        <td>(None)</td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </section>

          <!-- Sponsorships -->
          <section class="section-xs-30 section-md-60">
            <h4>Sponsorships Purchased</h4>
            <div class="offset-top-32">
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                      <th class="success">Name</th>
                      <th class="success">Company</th>
                      <th class="success">Sponsorship</th>
                      <th class="success">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% total = 0.0 %>
                    <% @sponsorships.each do |purchase| %>
                      <tr>
                        <td><%= purchase.user.first_name %> <%= purchase.user.last_name %></td>
                        <td>
                          <% unless purchase.user.company_name.nil? %>
                            <%= purchase.user.company_name %>
                          <% end %>
                        </td>
                        <td><%= purchase.product.name %></td>
                        <td><%= Money.us_dollar(purchase.amount * 100.00).format %></td>
                        <% total = total + purchase.amount %>
                      </tr>
                    <% end %>
                    <tr>
                      <td></td>
                      <td></td>
                      <td><Strong>Total: </Strong></td>
                      <td><%= Money.us_dollar(total * 100.00).format %></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </section>

          <!-- Donations -->
          <section class="section-xs-30 section-md-60">
            <h4>Donations</h4>
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <table class="table table-hover table-striped">
                  <thead>
                  <tr>
                    <th class="success">Name</th>
                    <th class="success">Company</th>
                    <th class="success">Donation</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% total = 0.0 %>
                  <% @donations.each do |purchase| %>
                    <tr>
                      <td><%= purchase.user.first_name + ' ' + purchase.user.last_name %></td>
                      <td>
                        <% unless purchase.user.company_name.nil? %>
                          <%= purchase.user.company_name %>
                        <% end %>
                      </td>
                      <td><%= Money.us_dollar(purchase.amount * 100.00).format %></td>
                      <% total = total + purchase.amount %>
                    </tr>
                  <% end %>
                  <tr>
                    <td></td>
                    <td></td>
                    <td><Strong>Total: </Strong></td>
                    <td><%= Money.us_dollar(total * 100.00).format %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>

          </div>
          </div>
</main>