<main class="page-content">

  <section>
    <!-- Swiper-->
    <div class="swiper-outer">
      <div data-simulate-touch="false" class="swiper-container swiper-slider">
        <div class="swiper-wrapper">
          <div data-slide-bg="<%= image_path 'index-01.jpg' %>" class="swiper-slide">
            <div data-caption-animate="fadeInUp" class="swiper-slide-caption">
              <h1>Athan Kaloidis Memorial</h1>
              <p class="big">The legacy of a great man, remembered through a charity golf tournament, <br class="veil reveal-xl-block"> supported by the many people who were touched by the life of Athan Kaloidis.
              </p><a href="<%= page_path('about') %>" class="btn btn-white btn-sm">Learn More About a Great Man</a>
            </div>
          </div>
          <div data-slide-bg="<%= image_path 'index-02.jpg' %>" class="swiper-slide">
            <div data-caption-animate="fadeInUp" class="swiper-slide-caption">
              <h1>Athan Kaloidis Memorial</h1>
              <p class="big">The legacy of a great man, remembered through a charity golf tournament, <br class="veil reveal-xl-block"> supported by the many people who were touched by the life of Athan Kaloidis.
              </p><a href="<%= page_path('about') %>" class="btn btn-white btn-sm">Learn More About a Great Man</a>
            </div>
          </div>
          <div data-slide-bg="<%= image_path 'index-03.jpg' %>" class="swiper-slide">
            <div data-caption-animate="fadeInUp" class="swiper-slide-caption">
              <h1>Athan Kaloidis Memorial</h1>
              <p class="big">The legacy of a great man, remembered through a charity golf tournament, <br class="veil reveal-xl-block"> supported by the many people who were touched by the life of Athan Kaloidis.
              </p><a href="<%= page_path('about') %>" class="btn btn-white btn-sm">Learn More About a Great Man</a>
            </div>
          </div>
        </div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination"></div>
        <!-- Swiper Navigation-->
        <div class="swiper-button-prev mdi mdi-chevron-left"></div>
        <div class="swiper-button-next mdi mdi-chevron-right"></div>
      </div>
    </div>
  </section>

  <section class="section-10 section-md-30 bg-gray-light">
    <div class="shell text-xl-center offset-top-42">
      <h2>Athan Kaloidis Memorial</h2>
      <hr class="divider divider-60 divider-primary offset-top-32">
      <div style="font-size: 1.4em">
        <p>
          The Athan Kaloidis Memorial Foundation has been established to honor the life and legacy of Athan
          Kaloidis,
          a man who helped many and who's kindness touched many more. We hope that through this foundation we can
          honor his memory by giving back to others.
        </p>
        <hr class="divider divider-60 divider-primary offset-top-32">
        <p>
          A memorial golf tournament will be held every year in his honor. This year's tournament will be held April
          12th at 'Waterbury Golf Club'. This tournament has raised an excess of $30,000 for charitable causes. We hope
          that you will support us this year and help make a difference in the lives of children the Make-A-Wish
          Foundation helps.
        </p>
        <p>
          Thank you for taking the time to visit the site. Should you have any questions about the foundation or the
          tournament, please do not hesitate to contact us
        </p>
        <h6>Thank You,</h6>
        <h6>The Kaloidis Family</h6>
      </div>
    </div>
  </section>


  <section class="section-60 section-md-20">
    <div class="shell shell-wide">
      <h2>Tournament</h2>
      <hr class="divider divider-40 divider-primary offset-top-32">
      <div class="range">
        <div class="cell-md-3 cell-sm-6">
          <div class="box-variant-1">
            <img src="<%= image_path 'icon-01.png' %>" alt="" class="img-responsive center-block">
            <h6 class="offset-top-22">18 holes</h6>
            <hr class="divider divider-gray divider-50">
            <p>Played shotgun style at The Watertown Golf Course.</p>
          </div>
        </div>
        <div class="cell-md-3 cell-sm-6 offset-top-22 offset-sm-top-0">
          <div class="box-variant-1">
            <img src="<%= image_path 'icon-02.png' %>" alt="" class="img-responsive center-block">
            <h6 class="offset-top-22">benefitting the Make-A-Wish Foundation</h6>
            <hr class="divider divider-gray divider-50">
            <p>All proceeds go to the Make-A-Wish foundation. Learn more Here.</p>
          </div>
        </div>
        <div class="cell-md-3 cell-sm-6 offset-top-22 offset-md-top-0">
          <div class="box-variant-1">
            <img src="<%= image_path 'icon-03.png' %>" alt="" class="img-responsive center-block">
            <h6 class="offset-top-22">sponshorships available</h6>
            <hr class="divider divider-gray divider-50">
            <p>Advertise your company by purchasing a sponsorship</p>
          </div>
        </div>
        <div class="cell-md-3 cell-sm-6 offset-top-22 offset-md-top-0">
          <div class="box-variant-1">
            <img src="<%= image_path 'icon-04.png' %>" alt="" class="img-responsive center-block">
            <h6 class="offset-top-22">18-Hole golf course</h6>
            <hr class="divider divider-gray divider-50">
            <p>With the biggest links course in the USA, we have been hosting Championships since 1995</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-light">
    <div class="shell shell-wide section-top-60 section-md-top-0">
      <div class="range text-md-left">
        <div class="cell-md-6 img-fullwidth-wrapper">
          <div style="background: url('<%= ApplicationHelper.get_image(2, 'image102.jpg') %>'); background-size: cover;" class="img-fullwidth img-fullwidth-left">
          </div>
        </div>
        <div class="cell-md-6 cell-lg-preffix-1 cell-lg-4 section-60 section-md-110 offset-top-0">
          <div class="inset-md-left-20 inset-lg-left-0">
            <h2>The Memorial Golf Tournament</h2>
            <hr class="divider divider-60 divider-primary offset-top-32 divider-md-left">
            <p class="offset-top-26 offset-md-top-42 big">
            <p>A memorial golf tournament will be held every year in his honor. This year's tournament will be held
              April 12th at 'Waterbury Golf Club'. This tournament has raised an excess of $30,000 for charitable
              causes. </p>

            <a href="<%= about_path %>" class="btn btn-primary btn-sm offset-top-22">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render 'main/mini_gallery' %>

</main>