
<main class="page-content">
  <!-- RD Parallax-->
  <section class="rd-parallax">
    <div data-speed="0.2" data-type="media" data-url="<%= image_path 'breadcrumbs-01.jpg' %>" class="rd-parallax-layer"></div>
    <div data-speed="0" data-type="html" class="rd-parallax-layer">
      <div class="breadcrumb-wrapper">
        <div class="shell context-dark section-40 section-lg-top-158">
          <h1>Legacy</h1>
          <ol class="breadcrumb">
            <li><a href="<%= root_url %>">Home</a></li>
            <li>Legacy</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="section-80 section-md-110">
    <div class="shell shell-wide">
      <div class="range text-md-left">
        <div class="cell-xl-6 cell-md-7 cell-md-push-1"><img src="<%= ApplicationHelper.get_image(2, 'image11.jpg') %>" alt="" class="img-responsive center-block"></div>
        <div class="cell-md-5 cell-xl-6">
          <h2>About Athan Kaloidis</h2>
          <hr class="divider divider-primary divider-60 divider-offset divider-md-left">
          <div class="offset-md-top-42 offset-top-22 inset-xl-right-70">
            <p>
              Athan Kaloidis was born on December 5, 1945 in Tarapsa, Greece, a small village located about 20 kilometers south of Sparti (“Sparta”).  He was one of six children born into a family of limited means but unlimited potential.  He immigrated to the United States in the early 1970’s.  He settled in Waterbury, Connecticut where he soon married the love of his life, Demetra “Toula” Kaloidis.  Shortly thereafter Toula gave birth to her first son, Vasilios.  She later had a second boy, Ioannis.  Both sons now strive to achieve the level of decency, humanity, and respect their father exemplified.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-light section-top-60 section-md-top-0">
    <div class="shell shell-wide">
      <div class="range text-md-left">
        <div class="cell-md-6 cell-lg-preffix-1 cell-md-push-1 img-fullwidth-wrapper">
          <div style="background: url('<%= ApplicationHelper.get_image(2, 'image1.jpg') %>'); background-size: cover;" class="img-fullwidth img-fullwidth-right"></div>
        </div>
        <div class="cell-md-6 cell-lg-5 section-60 section-md-110 offset-top-0">
          <div class="inset-md-right-45 inset-lg-right-0">
            <h2>Spartan Restaurant</h2>
            <hr class="divider divider-60 divider-primary offset-top-32 divider-md-left">
            <p class="offset-top-26 offset-md-top-42">Athan entered the restaurant business shortly after coming to America.  He followed in his older brother, George’s, footsteps and helped him at Waterbury Pizza Castle where he learned the restaurant business inside and out.  He later owned and operated several pizza restaurants including Morris Pizza, Woodbury Pizza Castle, and Spartan Restaurant where he made his home.  He ran Spartan Restaurant from the mid-1970’s until the time of his death in 2008.</p>
            <p>
              It was at Spartan Restaurant where he became known for his welcoming smile, his kindness, and his ability to relate to every person who walked through the doors.  Customers for decades became accustomed to seeing this larger than life figure working tirelessly at the pizza ovens, but always willing to take a moment to look out from the pick-up window to give a smile and a wave to people coming and going.  Athan Kaloidis became a legend.  He was known by almost everyone in town and respected by them as well.  Words cannot express the heart of gold he had, his ability to empathize with others and his genuine caring and loving nature.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="offset-top-60 offset-md-top-0">
    <div class="shell shell-wide">
      <div class="range text-md-left">
        <div class="cell-md-6 img-fullwidth-wrapper">
          <div style="background: url('<%= ApplicationHelper.get_image(2, 'image103.jpg') %>'); background-size: cover;" class="img-fullwidth img-fullwidth-left"></div>
        </div>
        <div class="cell-md-6 cell-lg-6 section-60 section-md-110 offset-top-0">
          <div class="inset-lg-right-45 inset-lg-left-120 inset-md-left-45">
            <h2>Legacy</h2>
            <hr class="divider divider-60 divider-primary offset-top-32 divider-md-left">
            <p class="offset-top-26 offset-md-top-42">Sadly, on Saturday, January 5, 2008 he suffered a massive brain aneurysm from which he never recovered.  After five long days at Yale-New Haven Hospital, he entered eternal life on January 10, 2008.  On that day the world lost one of the best men to ever walk the earth.  He is sadly missed and not a day goes by that he is not thought about or talked about fondly by his friends and family.</p>

            <p>The legacy Athan Kaloidis leaves behind is one of a caring, loving, giving humble man.  A man who came to this country with nothing more than a suitcase, he built an empire through hard work and devotion to his family.  While his business success was great, it is his personal success that remains the lasting legacy.  He was one of the best friends a person could ever ask for; he was the stabilizing force in his family; he was an employer respected by all his workers; this is his legacy.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Use Athan Gallery if anything here -->
  <%#= render 'main/large_gallery' %>

</main>