<!-- Page Content-->
<main class="page-content">

  <% if !user_signed_in? %>
    <section>
      <!-- Swiper-->
      <div class="swiper-outer">
        <div data-simulate-touch="false" data-slide-effect="fade" data-autoplay="3000" class="swiper-container swiper-slider swiper-slider-variant-1">
          <div class="swiper-wrapper">
            <div data-slide-bg="<%= image_path 'index-02.jpg' %>" class="swiper-slide">
              <div class="swiper-slide-caption">
                <div class="shell shell-wide">
                  <div class="range">
                    <div class="cell-md-7 cell-lg-7 context-dark cell-xs-middle">
                      <h1>Golf Tournament Sponsorship</h1>
                      <p class="big">The legacy of a great man, remembered through a charity golf tournament.
                        <br class="veil reveal-xl-block">
                        Thank You for your interest in Sponsoring This Year's Tournament
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-on-slider">
          <div class="shell shell-wide">
            <div class="range">
              <div class="cell-md-7 cell-lg-7 context-dark cell-xs-middle"></div>
              <div class="cell-md-5 cell-lg-4 cell-xl-3 cell-xl-preffix-1 offset-top-220 offset-md-top-0">
                <div class="well-variant-3 swiper-on-slider-inner">
                  <h2>Login</h2>
                  <%= form_for(User.new, as: User.new, url: session_path(User.new), :html => {:class => 'offset-top-26 range rd-mailform'}) do |f| %>

                    <div class="cell-sm-6 cell-md-12">
                      <div class="form-group">
                        <label for="contact-name" class="form-label">Email</label>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-gray-base" %>
                        <!--<input id="contact-name" type="text" name="name" data-constraints="@Required" class="form-control form-control-gray-base">-->
                      </div>
                    </div>
                    <div class="cell-sm-6 cell-md-12 offset-top-20 offset-sm-top-0 offset-md-top-20">
                      <div class="form-group">
                        <label for="contact-phone" class="form-label">Password</label>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-gray-base" %>
                      </div>
                    </div>
                    <div class="range offset-top-20">
                      <div class="cell-sm-6">
                        <div class="field">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      </div>
                    </div>
                    <div class="cell-md-12 offset-top-20">
                      <button class="btn btn-block btn-primary btn-sm">Login</button>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <% end %>

  <section class="section-80 section-md-110">
    <div class="shell shell-wide">

      <h2>Sponsorships</h2>
      <hr class="divider divider-60 divider-primary offset-top-32">

      <%= render 'main/sponsorships' %>

    </div>
  </section>

</main>