<!-- Page Content-->
<main class="page-content">

  <% if user_signed_in? %>
    <section>
      <!-- Swiper-->
      <div class="swiper-outer">
        <div data-simulate-touch="false" data-slide-effect="fade" data-autoplay="3000" class="swiper-container swiper-slider swiper-slider-variant-1">
          <div class="swiper-wrapper">
            <div data-slide-bg="<%= image_path 'index-02.jpg' %>" class="swiper-slide">
              <div class="swiper-slide-caption">
                <div class="shell shell-wide">
                  <div class="range">
                    <div class="cell-md-7 cell-lg-7 context-dark cell-xs-middle">
                      <h1>Golf Tournament Sponsorship</h1>
                      <p class="big">The legacy of a great man, remembered through a charity golf tournament.
                        <br class="veil reveal-xl-block">
                        Thank You for your interest in Sponsoring This Year's Tournament
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  <% else %>

    <section>
      <!-- Swiper-->
      <div class="swiper-outer">
        <div data-simulate-touch="false" data-slide-effect="fade" data-autoplay="3000" class="swiper-container swiper-slider swiper-slider-variant-1">
          <div class="swiper-wrapper">
            <div data-slide-bg="<%= image_path 'index-02.jpg' %>" class="swiper-slide">
              <div class="swiper-slide-caption">
                <div class="shell shell-wide">
                  <div class="range">
                    <div class="cell-md-7 cell-lg-7 context-dark cell-xs-middle">
                      <h1>Golf Tournament Sponsorship</h1>
                      <p class="big">The legacy of a great man, remembered through a charity golf tournament.
                        <br class="veil reveal-xl-block">
                        Thank You for your interest in Sponsoring This Year's Tournament
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-on-slider">
          <div class="shell shell-wide">
            <div class="range">
              <div class="cell-md-7 cell-lg-7 context-dark cell-xs-middle"></div>
              <div class="cell-md-5 cell-lg-4 cell-xl-3 cell-xl-preffix-1 offset-top-220 offset-md-top-0">
                <div class="well-variant-3 swiper-on-slider-inner">
                  <h2>Login</h2>
                  <!-- RD Mailform-->
                  <%= form_for(User.new, as: User.new, url: session_path(User.new), :html => {:class => 'offset-top-26 range rd-mailform'}) do |f| %>
                    <!--<form method="post" action="bat/rd-mailform.php" class="offset-top-26 range rd-mailform">-->

                    <div class="cell-sm-6 cell-md-12">
                      <div class="form-group">
                        <label for="contact-name" class="form-label">Email</label>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-gray-base" %>
                        <!--<input id="contact-name" type="text" name="name" data-constraints="@Required" class="form-control form-control-gray-base">-->
                      </div>
                    </div>
                    <div class="cell-sm-6 cell-md-12 offset-top-20 offset-sm-top-0 offset-md-top-20">
                      <div class="form-group">
                        <label for="contact-phone" class="form-label">Password</label>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-gray-base" %>
                        <!--<input id="contact-phone" type="text" name="phone" data-constraints="@Required @Integer" class="">-->
                      </div>
                    </div>
                    <div class="range offset-top-20">
                      <div class="cell-sm-6">
                        <div class="field">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      </div>
                    </div>
                    <div class="cell-md-12 offset-top-20">
                      <button class="btn btn-block btn-primary btn-sm">Login</button>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <% end %>

  <section class="section-80 section-md-110">
    <div class="shell shell-wide">
      <h2>Sponsorships</h2>
      <hr class="divider divider-60 divider-primary offset-top-32">
      <!-- Owl Carousel-->
      <div data-dots="true" data-items="1" data-sm-items="2" data-lg-items="3" data-margin="30" class="owl-carousel offset-top-60">

        <% count = 1 %>
        <% @sponsorships.each do |product| %>

          <% if count.remainder(2) != 0 %>
            <div>
          <% end %>

          <!-- Thumbnail-->
          <div class="thumbnail-variant-2">
            <div class="caption-wrapper">
              <img src="images/experiense-0<%= (count).to_s %>.jpg" width="570" height="370" alt="" class="img-responsive center-block">
              <div class="caption">
                <% if signed_in? %>
                  <a href="<%= add_product_to_user_cart_path(product.id, current_user.id) %>" class="btn btn-white btn-sm">Add
                    To Cart</a>
                  <% else %>
                    <% link_to 'Login To Purchase', new_user_session_path, { :class=>'btn btn-white btn-sm' } %>
                <% end %>
              </div>
            </div>
            <div class="caption-2">
              <div class="caption-2-inner">
                <span class="inset-right-5 text-middle icon icon-lg text-primary mdi mdi-trophy-variant"></span>
                <h6><a href="experience.html"><%= product.name %></a></h6>
                <hr class="divider divider-50 divider-gray-dark">
                <p><%= product.description %></p>
                <p class="text-dark offset-top-14">
                    <span class="text-middle">
                      <i class="fas fa-dollar-sign"></i>
                      <%= Money.new((product.price * 100.0), "USD").format(:no_cents_if_whole => true) %>
                    </span>
                </p>
                <% if signed_in? %>
                  <a href="<%= add_product_to_user_cart_path(product.id, current_user.id) %>"
                     class="btn btn-default btn-sm offset-top-18">
                    Add To Cart
                  </a>
                <% end %>
              </div>
            </div>
          </div>

          <% if count.remainder(2) == 0 or count == @sponsorships.count %>
            </div>
          <% end %>

          <% count = count + 1 %>
        <% end %>

      </div>
    </div>
    <div class="offset-top-32 offset-md-top-60">
      <a href="#" class="btn btn-primary btn-sm">Donate Any Ammount!</a></div>
    </div>
  </section>

</main>