<main class="page-content">
  <!-- RD Parallax-->
  <section class="rd-parallax">
    <div data-speed="0.2" data-type="media" data-url="<%= image_path 'breadcrumbs-01.jpg' %>" class="rd-parallax-layer"></div>
    <div data-speed="0" data-type="html" class="rd-parallax-layer">
      <div class="breadcrumb-wrapper">
        <div class="shell context-dark section-40 section-lg-top-158">
          <h1>Golf Tournament Supporters</h1>
          <ol class="breadcrumb">
            <li><a href="<%= root_url %>">Home</a></li>
            <li>Supporters
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="section-80 section-md-110">
    <div class="shell shell-wide">
      <h2>Sponsorships</h2>
      <hr class="divider divider-primary divider-60 divider-offset">
      <div class="range offset-top-60">

        <% count = 1 %>
        <% @supporters.each do |purchase| %>

          <div
          <% if count == 1 %>
          class="cell-lg-4 cell-sm-6">
          <% elsif count == 2 %>
          class="cell-lg-4 cell-sm-6 offset-top-32 offset-sm-top-0">
          <% elsif count == 3 %>
          class="cell-lg-4 cell-sm-6 offset-top-32 offset-lg-top-0">
          <% else %>
          class="cell-lg-4 cell-sm-6 offset-top-32">
          <% end %>

          <div class="thumbnail">
            <%
              if count > 9
                image_count = count - 9
              else
                image_count = count
              end
            %>
            <img src="<%= image_path 'events-0' + image_count.to_s + '.jpg' %>" width="570" height="420" alt="" class="img-responsive center-block">
            <div class="caption">
              <div class="caption-inner">
                <img src="<%= image_path 'icon-05.png' %>" width="28" height="28" alt="" class="img-responsive center-block">
                <h4><%= purchase.user.company_published_name %></h4>
                <hr class="divider divider-white divider-40">
                <p><%= purchase.product.name %></p>
                <% !if purchase.user.company_website.nil? %>
                  <a href="<%= purchase.user.company_website %>" class="btn btn-primary btn-sm">Visit Website</a>
                <% end %>
              </div>
            </div>
          </div>

          </div>

          <% count = count + 1 %>
        <% end %>

      </div>
    </div>
  </section>
</main>