<main class="page-content">
  <!-- RD Parallax-->
  <section class="rd-parallax">
    <div data-speed="0.2" data-type="media" data-url="<%= image_path 'breadcrumbs-01.jpg'  %>" class="rd-parallax-layer"></div>
    <div data-speed="0" data-type="html" class="rd-parallax-layer">
      <div class="breadcrumb-wrapper">
        <div class="shell context-dark section-40 section-lg-top-158">
          <h1>Events</h1>
          <ol class="breadcrumb">
            <li><a href="./">Home</a></li>
            <li>Supporters
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="section-80 section-md-110">
    <div class="shell shell-wide">
      <h2>Supporters <small class="mute">(Under Construction)</small></h2>
      <hr class="divider divider-primary divider-60 divider-offset">
      <div class="range offset-top-60">
        <div class="cell-lg-4 cell-sm-6">
          <!-- Thumbnail-->
          <div class="thumbnail"><img src="<%= image_path 'events-01.jpg'  %>" width="570" height="420" alt="" class="img-responsive center-block">
            <div class="caption">
              <div class="caption-inner"><img src="<%= image_path 'icon-05.png' %>" width="28" height="28" alt="" class="img-responsive center-block">
                <h4>san diego championship</h4>
                <hr class="divider divider-white divider-40">
                <p>September 2-5</p><a href="event-single.html" class="btn btn-primary btn-sm">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell-lg-4 cell-sm-6 offset-top-32 offset-sm-top-0">
          <!-- Thumbnail-->
          <div class="thumbnail"><img src="<%= image_path 'events-02.jpg'  %>" width="570" height="420" alt="" class="img-responsive center-block">
            <div class="caption">
              <div class="caption-inner"><img src="<%= image_path 'icon-05.png' %>" width="28" height="28" alt="" class="img-responsive center-block">
                <h4>global bank championship</h4>
                <hr class="divider divider-white divider-40">
                <p>September 12-15</p><a href="event-single.html" class="btn btn-primary btn-sm">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell-lg-4 cell-sm-6 offset-top-32 offset-lg-top-0">
          <!-- Thumbnail-->
          <div class="thumbnail"><img src="<%= image_path 'events-03.jpg' %>" width="570" height="420" alt="" class="img-responsive center-block">
            <div class="caption">
              <div class="caption-inner"><img src="<%= image_path 'icon-05.png' %>" width="28" height="28" alt="" class="img-responsive center-block">
                <h4>open amateur championship</h4>
                <hr class="divider divider-white divider-40">
                <p>September 18-21</p><a href="event-single.html" class="btn btn-primary btn-sm">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell-lg-4 cell-sm-6 offset-top-32">
          <!-- Thumbnail-->
          <div class="thumbnail"><img src="<%= image_path 'events-04.jpg' %>" width="570" height="420" alt="" class="img-responsive center-block">
            <div class="caption">
              <div class="caption-inner"><img src="<%= image_path 'icon-05.png' %>" width="28" height="28" alt="" class="img-responsive center-block">
                <h4>Member and Staff Day</h4>
                <hr class="divider divider-white divider-40">
                <p>September 28-29</p><a href="event-single.html" class="btn btn-primary btn-sm">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell-lg-4 cell-sm-6 offset-top-32">
          <!-- Thumbnail-->
          <div class="thumbnail"><img src="<%= image_path 'events-05.jpg' %>" width="570" height="420" alt="" class="img-responsive center-block">
            <div class="caption">
              <div class="caption-inner"><img src="<%= image_path 'icon-05.png' %>" width="28" height="28" alt="" class="img-responsive center-block">
                <h4>LADIES TOUR</h4>
                <hr class="divider divider-white divider-40">
                <p>October 7-9</p><a href="event-single.html" class="btn btn-primary btn-sm">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell-lg-4 cell-sm-6 offset-top-32">
          <!-- Thumbnail-->
          <div class="thumbnail"><img src="<%= image_path 'events-06.jpg' %>" width="570" height="420" alt="" class="img-responsive center-block">
            <div class="caption">
              <div class="caption-inner"><img src="<%= image_path 'icon-05.png' %>" width="28" height="28" alt="" class="img-responsive center-block">
                <h4>CLUB CHAMPIONSHIP</h4>
                <hr class="divider divider-white divider-40">
                <p>October 15-18</p><a href="event-single.html" class="btn btn-primary btn-sm">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell-lg-4 cell-sm-6 offset-top-32">
          <!-- Thumbnail-->
          <div class="thumbnail"><img src="<%= image_path 'events-07.jpg' %>" width="570" height="420" alt="" class="img-responsive center-block">
            <div class="caption">
              <div class="caption-inner"><img src="<%= image_path 'icon-05.png' %>" width="28" height="28" alt="" class="img-responsive center-block">
                <h4>MASTERS Scramble</h4>
                <hr class="divider divider-white divider-40">
                <p>October 21-23</p><a href="event-single.html" class="btn btn-primary btn-sm">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell-lg-4 cell-sm-6 offset-top-32">
          <!-- Thumbnail-->
          <div class="thumbnail"><img src="<%= image_path 'events-08.jpg' %>" width="570" height="420" alt="" class="img-responsive center-block">
            <div class="caption">
              <div class="caption-inner"><img src="<%= image_path 'icon-05.png' %>" width="28" height="28" alt="" class="img-responsive center-block">
                <h4>ACCESS TOUR</h4>
                <hr class="divider divider-white divider-40">
                <p>October 25-28</p><a href="event-single.html" class="btn btn-primary btn-sm">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell-lg-4 cell-sm-6 offset-top-32">
          <!-- Thumbnail-->
          <div class="thumbnail"><img src="<%= image_path 'events-09.jpg' %>" width="570" height="420" alt="" class="img-responsive center-block">
            <div class="caption">
              <div class="caption-inner"><img src="<%= image_path 'icon-05.png' %>" width="28" height="28" alt="" class="img-responsive center-block">
                <h4>SENIORS TOUR</h4>
                <hr class="divider divider-white divider-40">
                <p>October 29-30</p><a href="event-single.html" class="btn btn-primary btn-sm">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>