<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @invite.user %>
</p>

<p>
  <strong>Golfer number:</strong>
  <%= @invite.golfer_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @invite.email %>
</p>

<p>
  <strong>Sent at:</strong>
  <%= @invite.sent_at %>
</p>

<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
