<main class="page-content">
  <section class="section-80 section-md-110">
    <div class="shell">
      <h2>Register</h2>
      <hr class="divider divider-primary divider-60 divider-offset">

      <div class="offset-md-top-42 offset-top-22">
        <p>With forms you can get almost any kind of information from<br class="veil reveal-md-block">your visitors, who
          will definitely appreciate this attractive element.</p>
      </div>

      <div class="section-top-80">

        <div class="row">

          <!--<form data-form-output="form-output-global" data-form-type="contact" method="post" action="" class="rd-mailform text-left">-->
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'rd-mailform text-left'}) do |f| %>

            <div class="col-xs-12 col-lg-6">

              <%= devise_error_messages! %>

              <h4>Basic Info
              </h4>

              <div class="form-group">
                <label for="contact-name" class="form-label form-label-outside">First Name</label>
                <%= f.text_field(:first_name, id: "firstname-textbox", class: "form-control form-control-gray") %>
              </div>

              <div class="form-group">
                <label for="contact-name" class="form-label form-label-outside">Last Name</label>
                <%= f.text_field(:last_name, id: "lastname-textbox", class: "form-control form-control-gray") %>
              </div>


              <div class="form-group">
                <label for="contact-email" class="form-label form-label-outside">E-Mail</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-gray" %>
                <!--<input id="contact-email" type="email" name="email" data-constraints="@Required @Email" class="form-control form-control-gray">-->
              </div>

              <hr>

              <h4>Company Info
                <small>(Optional)</small>
              </h4>

              <div class="form-group">
                <label for="contact-company" class="form-label form-label-outside">Company</label>
                <%= f.text_field(:company_name, class: "form-control form-control-gray") %>
              </div>

              <div class="form-group">
                <label for="website-company" class="form-label form-label-outside">Company Website</label>
                <%= f.text_field(:company_website, class: "form-control form-control-gray") %>
              </div>

              <div class="form-group">
                <label for="contact-company" class="form-label form-label-outside">Formal Company Name
                  <small>(This will Display on Banners)</small>
                </label>
                <%= f.text_field(:company_published_name, class: "form-control form-control-gray") %>
              </div>


              <div class="form-group">
                <label for="phone" class="form-label form-label-outside">Phone</label>
                <%= f.telephone_field(:phone, class: "form-control form-control-gray") %>
                <!--<input id="contact-phone" type="text" name="phone" data-constraints="@Required @Integer"-->
              </div>

              <div class="form-group">
                <label for="fax" class="form-label form-label-outside">Fax</label>
                <%= f.telephone_field(:fax, class: "form-control form-control-gray") %>
                <!--<input id="contact-phone" type="text" name="phone" data-constraints="@Required @Integer"-->
              </div>

            </div>

            <hr class="visible-sm">

            <div class="col-xs-6 col-md-5">

              <h4>Golfers
                <small>(Optional)</small>
              </h4>

              <div class="form-group">
                <label for="contact-golfer1" disabled class="form-label form-label-outside">Golfer 1</label>
                <%#= f.text_field(:golfer1, class: "form-control form-control-gray") %>
                <input id="golfer-1" disabled type="text" name="name" class="form-control form-control-gray">

                <label for="contact-golfer2" class="form-label form-label-outside">Golfer 2</label>
                <%= f.text_field(:golfer2, class: "form-control form-control-gray") %>

                <label for="contact-golfer3" class="form-label form-label-outside">Golfer 3</label>
                <%= f.text_field(:golfer3, class: "form-control form-control-gray") %>

                <label for="contact-golfer4" class="form-label form-label-outside">Golfer 4</label>
                <%= f.text_field(:golfer4, class: "form-control form-control-gray") %>
              </div>

              <div class="form-group">
                <label for="contact-message" class="form-label form-label-outside">Message</label>
                <%= f.text_area(:note, class: "form-control form-control-gray") %>
                <!--<textarea id="contact-message" name="message" data-constraints="@Required" class="form-control form-control-gray"></textarea>-->
              </div>

              <hr>

              <h4>Create Site Login</h4>
              <div class="form-group">
                <label for="password" class="form-label form-label-outside">Password</label>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control corm-control-gray' %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br/>
                <!--<input id="password" type="password" name="password" data-constraints="@Required" class="form-control form-control-gray">-->
              </div>

              <div class="form-group">
                <label for="password-2" class="form-label form-label-outside">Repeat your password</label>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control corm-control-gray' %>
                <!--TODO: JS Pass verify
                <input id="password-2" type="password" name="password-2" data-constraints="@Required" class="form-control form-control-gray">-->
              </div>
              <div class=" text-center text-md-left">
                <button type="submit" class="btn btn-primary btn-sm">Register</button>
              </div>
            </div>

          <% end %>

          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </section>
</main>

