<div class="table-responsive offset-top-32">
  <table class="table table-hover table-striped text-left">
    <thead>
    <tr>
      <th class="text-left success">Product</th>
      <th class="text-left success">Type</th>
      <th class="text-left success">Description</th>
      <th class="text-left success">Price</th>
      <th class="text-left success"></th>
    </tr>
    </thead>
    <tbody>

    <% total = 0.0 %>
    <% @shopping_carts.each do |shopping_cart_item| %>
      <% product = shopping_cart_item.product %>
      <tr>
        <td><%= product.name %></td>
        <td>
          <% if product.category == 'golf_package' %>
            Golfer Package
          <% elsif product.category == 'donation' %>
            Donation
          <% elsif product.category == 'sponsor' %>
            Sponsorship
          <% end %>
        </td>
        <td><%= product.description %></td>
        <td><%= Money.us_dollar(shopping_cart_item.amount * 100).format %></td>
        <% total = total + shopping_cart_item.amount %>
        <td><%= link_to 'Remove', shopping_cart_item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    <tr class="text-base">
      <td></td>
      <td></td>
      <td>Your Total:</td>
      <td><%= Money.us_dollar(total * 100).format %></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>