<!-- Registered Users -->
<section class="section-xs-30 section-md-60">
  <h4>Registered Users</h4>
  <div class="offset-top-32">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th class="success">Name</th>
            <th class="success">Email</th>
            <th class="success">Phone</th>
            <th class="success">Golfer-Package</th>
            <th class="success">Info</th>
            <th class="success">Group</th>
            <th class="success"></th>
          </tr>
          </thead>
          <tbody>
          <% if @users.count > 0 %>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <% unless user.first_name.nil? %>
                    <%= user.first_name %>
                  <% end %>
                  <% unless user.first_name.nil? %>
                    <%= user.last_name %>
                  <% end %>
                </td>
                <td>
                  <%= user.email %>
                </td>
                <td>
                  <% unless user.phone.nil? %>
                    <%= user.phone %><br>
                  <% end %>
                </td>
                <td>
                  <% if user.admin? == true %>
                    <strong>Admin</strong>
                  <% elsif user.purchased_golf_package? %>
                    Purchased
                  <% else %>
                    Un-Purchased
                  <% end %>
                </td>
                <td>
                  <% if 1 == 1 %>
                    <div>
                      <% unless user.company_name.nil? %>
                        <%= user.company_name %><br>
                      <% end %>
                      <% unless user.company_website.nil? %>
                        <%= user.company_website %><br>
                      <% end %>

                      <% unless user.note.nil? %>
                        <strong>Note: </strong> <%= user.note %><br>
                      <% end %>
                    </div>
                  <% end %>
                </td>
                <td>
                  <div>
                    <% unless user.golfer2_name.nil? %>
                      <%= user.golfer2_name %><br>
                    <% end %>
                    <% unless user.golfer3_name.nil? %>
                      <%= user.golfer3_name %><br>
                    <% end %>
                    <% unless user.golfer4_name.nil? %>
                      <%= user.golfer4_name %><br>
                    <% end %>
                  </div>
                </td>
                <td>
                  <%= link_to '<i class="fas fa-cogs"></i>'.html_safe, edit_user_path(user.id) %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td>(None)</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>