<main class="page-content">

  <div class="container-fluid right text-xl-center">

    <h2>Admin</h2>
    <hr class="divider divider-30 divider-primary">
    <h4>Groups</h4>

    <div style="padding: 0px 40px 0px 40px" class="container-fluid">

      <div class="text-center">
        <div class="row text-center">
          <div class="alert alert-warning">
            <div class="row">
              <strong>Golfer Packages:</strong>
              <span style="color: green">$<%= number_with_precision(Purchase.golf_package_total_sales, :precision => 2, :delimiter => ',') %></span>
              <strong>Donations:</strong>
              <span style="color: green">$<%= number_with_precision(Purchase.donation_total_sales, :precision => 2, :delimiter => ',') %></span>
              <strong>Sponsorships:</strong>
              <span style="color: green">$<%= number_with_precision(Purchase.sponsor_total_sales, :precision => 2, :delimiter => ',') %></span><br>
              <strong>Total:</strong>
              <% total = Purchase.golf_package_total_sales + Purchase.donation_total_sales + Purchase.sponsor_total_sales %>
              <span style="color: green">$<%= number_with_precision(total, :precision => 2, :delimiter => ',') %></span>
            </div>
            <div class="row">
              <%= link_to new_purchase_path do %>
                <strong>Add Payment</strong>
              <% end %>
              <%= link_to new_user_path do %>
                <strong>Create User</strong>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div data-type="horizontal" class="responsive-tabs responsive responsive-tabs-classic horizontal">
        <ul class="resp-tabs-list tabs-1 text-center tabs-group-default">
          <li>Registered Golfers</li>
          <li>Sponsorships</li>
          <li>Donations</li>
          <li>All Users</li>
          <li>Admins</li>
        </ul>
        <div class="resp-tabs-container text-sm-left tabs-group-default">
          <div>
            <br>
            <div id="users-target-1">
              <%= render 'users/all', users: @golfers, display_groups: true %>
            </div>
          </div>
          <div>
            <%= render 'admin/sponsorships', sponsorships: @sponsorships %>
          </div>
          <div>
            <%= render 'admin/donations', donations: @donations %>
          </div>
          <div>
            <%#= render 'admin/golfer_packages', packages: @packages %>
            <%= render 'users/all', users: @users %>
          </div>
          <div>
            <%= render 'admin/admins', admins: @admins %>
          </div>
        </div>
      </div>


    </div>
  </div>
</main>