<main class="page-content">

  <div class="container-fluid right text-xl-center">

    <h2>Admin</h2>
    <hr class="divider divider-30 divider-primary">
    <h4>Groups</h4>

    <div style="padding: 0px 40px 0px 40px" class="container-fluid">

      <div class="alert alert-warning">
        <strong>Golfer Packages:</strong>
        <span style="color: green">$<%= number_with_precision(Purchase.golf_package_total_sales, :precision => 2, :delimiter => ',') %></span>
        <strong>Donations:</strong>
        <span style="color: green">$<%= number_with_precision(Purchase.donation_total_sales, :precision => 2, :delimiter => ',') %></span>
        <strong>Sponsorships:</strong>
        <span style="color: green">$<%= number_with_precision(Purchase.sponsor_total_sales, :precision => 2, :delimiter => ',') %></span><br>
        <strong>Total:</strong>
        <% total = Purchase.golf_package_total_sales + Purchase.donation_total_sales + Purchase.sponsor_total_sales %>
        <span style="color: green">$<%= number_with_precision(total, :precision => 2, :delimiter => ',') %></span>
      </div>
      <div data-type="horizontal" class="responsive-tabs responsive responsive-tabs-classic horizontal">
        <ul class="resp-tabs-list tabs-1 text-center tabs-group-default">
          <li>Tournament Groups</li>
          <li>Admins</li>
          <li>Registered Users</li>
          <li>Donations</li>
        </ul>
        <div class="resp-tabs-container text-sm-left tabs-group-default">
          <div>
            <p>
              <%= render 'admin/groups' %>
              <br>
              <%= render 'admin/users' %>
            </p>
          </div>
          <div>
            <p>
              <%= render 'admin/admins' %>
            </p>
          </div>
          <div>
            <p>
              <%= render 'admin/users' %>
            </p>
          </div>
          <div>
            <p>
              <%= render 'admin/donations' %>
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</main>