<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<% unless Rails.env.production? %>
  <div>
    (This is a test. Ignore this Email.)
  </div>
<% end %>
<h1>Athan Kaloidis Memorial Foundation</h1>
<h2>Memorial Golf Tournament</h2>
<hr>
<h4><%= @customer.full_name %> registered for the tournament</h4>
<div>
  <strong>Name: </strong> <%= @customer.full_name %><br>
  <strong>Email: </strong> <%= @customer.email %><br>

  <h4>Customer Info</h4>
  <% unless @customer.phone.blank? %>
    <strong>Phone: </strong> <%= @customer.phone %><br>
  <% end %>

  <% unless @customer.address.blank? %>
    <strong>Address: </strong> <%= @customer.address %><br>
    <% if !(@customer.city.blank?) and !(@customer.state.blank?) and !(@customer.zip.blank?) %>
      <%= @customer.city %>, <%= @customer.state %> <%= @customer.zip %>
    <% end %>
  <% end %>

  <% unless @customer.company_name.blank? %>
    <strong>Company: </strong> <%= @customer.company_name %><br>
  <% end %>

  <% unless @customer.company_website.blank? %>
    <strong>Company Website: </strong> <%= @customer.company_website %><br>
  <% end %>

  <% unless @customer.company_published_name.blank? %>
    <strong>Company Published Name (Name to appear on banners): </strong> <%= @customer.company_published_name %><br>
  <% end %>

  <% unless @customer.fax.blank? %>
    <strong>Fax: </strong> <%= @customer.fax %><br>
  <% end %>

  <% unless @customer.note.blank? %>
    <strong>Registration Note: </strong> <%= @customer.note %><br>
  <% end %>

  <h3>Golf Group</h3>
  <% unless (@customer.golfer2_name.blank?) and (@customer.golfer2_email.blank?) %>
    <strong>Golfer2: </strong> <%= @customer.golfer2_name %> / <%= @customer.golfer2_email %> <br>
  <% end %>
  <% unless (@customer.golfer3_name.blank?) and (@customer.golfer3_email.blank?) %>
    <strong>Golfer3: </strong> <%= @customer.golfer3_name %> / <%= @customer.golfer3_email %> <br>
  <% end %>
  <% unless (@customer.golfer4_name.blank?) and (@customer.golfer4_email.blank?) %>
    <strong>Golfer4: </strong> <%= @customer.golfer4_name %> / <%= @customer.golfer4_email %> <br>
  <% end %>

</div>
<p>
  You will be notified again upon further user activity (Golfer-Package purchase, Sponsorship Purchases, Donations,
  etc..).
  This email is to notify you that the user has created an account on the AK Memorial website, he has not purchased
  the golfer package yet.
</p>

<p>
  <strong>Note: </strong> This email was sent to the admins for the golf tournament:
  <% admins = User.where(admin: true) %>
  <% admins.each_with_index do |admin, index| %>
    <%= admin.full_name %> (<%= admin.email %>),
  <% end %>
</p>
</body>
</html>
