<% unless ENV['environment'].nil? %>
  <% environment = ENV['environment'] %>
  <% alert_staging = false %>
  <% if alert_staging %>
    <% if environment.casecmp('development') %>
      <div class="alert alert-warning text-center">Development Server</div>
    <% elsif Rails.env.casecmp('staging') %>
      <div class="alert alert-warning text-center">Staging Server</div>
    <% end %>
  <% end %>
<% end %>


<% if notice %>
  <p class="alert alert-success text-center"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger text-center"><%= alert %></p>
<% end %>

<script>
    $(".alert button.close").click(function (e) {
        $(this).parent().fadeOut('slow');
    });
</script>

<% if user_signed_in? %>
  <% if !current_user.admin? %>
    <% unless current_user.purchased_golf_package? %>
      <% if current_user.cart_contains_golf_package? %>
        <div class="alert alert-warning text-center">
          Please Purchase Tournament Player Package.<br>
          <% if !current_page?(new_charge_path) %>
            <%= link_to 'Checkout.',
                        new_charge_path %>
          <% end %>
        </div>
      <% else %>
        <div class="alert alert-warning text-center">
          To play in the tournament - please purchase the Tournament Player Package.
          <%= link_to 'Add Golfer Package to Cart ($150).',
                      add_product_to_user_cart_path(Product.golf_package.id, current_user.id) %>
        </div>
      <% end %>
    <% end %>

    <% if current_user.address.nil? or current_user.city.nil? or current_user.state.nil? or current_user.zip.nil? %>
      <div class="alert alert-warning text-center">
        Please set your Address, City, State <%= link_to 'in Your Profile.', edit_user_registration_path %>
      </div>
    <% end %>
  <% end %>
<% end %>