<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll">
<head>
  <%= render 'layouts/header' %>
</head>

<body>

<%= render 'layouts/notifications' %>

<div class="page text-center">

  <header class="page-header">
    <%= render 'layouts/navbar' %>
  </header>



  <%= yield %>

</div>


<%= render 'layouts/footer' %>

<%#= console %>