<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll">
<head>

  <title>AkMemorialFoundation</title>
  <%= csrf_meta_tags %>

  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link rel="icon" href="<%= image_path 'favicon.ico' %>" type="image/x-icon">

  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Oswald:300,400,700%7CRoboto:300,300italic,400,700,700italic' %>
  <%= stylesheet_link_tag 'style.css', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <script src="https://js.stripe.com/v3/"></script>

  <!--[if lt IE 10]>
  <div
      style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
    <a href="http://windows.microsoft.com/en-US/internet-explorer/">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg"
           border="0" height="42" width="820"
           alt="You are using an outdated browser.">
    </a>
  </div>
  <script src="js/html5shiv.min.js"></script>
  <![endif]-->

</head>

<body>

<div class="page text-center">

  <header class="page-header">
    <%= render 'layouts/navbar' %>
  </header>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <% if user_signed_in? %>
    <% if !current_user.admin? %>
      <% unless current_user.purchased_golf_package? %>
        <% if current_user.cart_contains_golf_package? %>
          <div class="alert alert-warning">
            Please Finish Purchase Of Your Tournament Player Package.<br>
            <%= link_to 'Checkout.',
                        new_charge_path %>
          </div>
        <% else %>
          <div class="alert alert-warning">
            Please complete golf tournament registration.
            <%= link_to 'Add Tournament Player Package to Cart ($150).',
                        add_product_to_user_cart_path(Product.golf_package.id, current_user.id) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= yield %>

  <footer class="page-footer text-lg-left rd-google-map-abs">
    <div class="shell shell-wide section-top-80 section-bottom-40 section-md-bottom-60 section-lg-top-110 section-lg-bottom-110">
      <div class="range">
        <div class="cell-xs-3 cell-lg-3 cell-xl-2 cell-lg-3">
          <h6>about</h6>
          <p class="offset-top-12 offset-lg-top-32">The Athan Kaloidis Memorial Foundation, Inc. was created in memory
            of our dear friend Athan Kaloidis. Through this tournament, the Foundation raises money to support the
            Make-A-Wish Foundation, and to help with the establishment of a children’s exhibit at the Harness Racing
            Museum & Hall of Fame in Goshen, New York.</p>
        </div>
        <div class="cell-sm-6 cell-lg-2 cell-xl-preffix-1 offset-top-32 offset-lg-top-0 text-sm-left">
          <h6>quick links</h6>
          <ul class="offset-top-12 offset-lg-top-32 list-marked list-marked-lg list-marked-no-padding">
            <li><a href="<%= about_path %>">About</a></li>
            <li><a href="<%= legacy_path %>">Legacy</a></li>
            <li><a href="<%= childrens_exhibit_path %>">Children's Exhibit</a></li>
            <li><a href="<%= athen_gallery_path %>">Gallery</a></li>
          </ul>
        </div>
        <div class="cell-sm-6 cell-lg-3 cell-xl-2 offset-top-32 offset-lg-top-0 text-sm-left">
          <h6>contacts</h6>
          <div class="text-left">
            <div class="media p offset-top-12 offset-lg-top-32">
              <div class="media-left"><span class="icon text-white mdi mdi-map-marker"></span></div>
              <div class="media-body"><a href="#" class="text-gray">71 Chapin Avenue. Waterbury, CT. USA 06708</a>
              </div>
            </div>
            <div class="media p">
              <div class="media-left"><span class="icon icon-xs text-white mdi mdi-phone"></span></div>
              <div class="media-body"><a href="callto:#" class="text-gray">1-203-518-1989</a></div>
            </div>
            <div class="media p">
              <div class="media-left"><span class="icon icon-xs text-white mdi mdi-email-outline"></span></div>
              <div class="media-body"><a href="mailto:#" class="text-primary">akmemorial@sbcglobal.net</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shell shell-wide section-lg-bottom-60 section-bottom-40">
      <p class="text-base">&#169; <span id="copyright-year"></span> All Rights Reserved The Athan Kaloidis Memorial
        Foundation
      </p>
    </div>
    <!-- RD Google Map-->
    <div data-zoom="12" data-x="-73.07942960000003" data-y="41.5493852" data-styles="[{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;lightness&quot;:100},{&quot;visibility&quot;:&quot;simplified&quot;}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;},{&quot;color&quot;:&quot;#C6E2FF&quot;}]},{&quot;featureType&quot;:&quot;poi&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#C5E3BF&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#D1D1B8&quot;}]}]" class="rd-google-map rd-google-map__model">
      <ul class="map_locations">
        <li data-y="41.5493852" data-x="-73.07942960000003">
          <p>71 Chapin Ave, Waterbury, CT, USA</p>
        </li>
      </ul>
    </div>
  </footer>
  <!-- Modal-->
  <div id="myModal" role="dialog" class="modal fade">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close mdi mdi-window-close"></button>
        </div>
        <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="//player.vimeo.com/video/119332284?title=0&amp;byline=0&amp;portrait=0" class="embed-responsive-item youtube-player"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Global Mailform Output-->
<div id="form-output-global" class="snackbars"></div>

<!-- PhotoSwipe Gallery-->
<div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
        <button title="Share" class="pswp__button pswp__button--share"></button>
        <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
        <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
      <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__cent"></div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'core.min.js' %>
<%= javascript_include_tag 'script.js' %>
</body>
</html>
